ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-left{
  display: flex;
  align-items: left;
  justify-content: left;
}

.box-content{
  position: relative;
  z-index: 100;
  width: 100%;
  box-sizing: inherit;
  color: #800080;
  font-size: 15px;

.common-table{
  border-collapse: separate;
  overflow: hidden;
} 
.table{
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: black;
  border-style: solid;
} 
.site-footer{
  background: #3694d1;
  padding: 0 10px;
  box-sizing: border-box;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

}