<div class="inner-sec">
 
   <div class="col-md-8">
     <h1 class="dark head-lg head-xl mb-2">Hi <%=current_user.present? && current_user.name.present? ? current_user.name.partition(" ").first.titleize : ''%> !</h1>
     <p style="font-size: 30px;color: purple;">Welcome to the best shop</p>
   </div>

</div> 