 <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  height: 10%;
  background-color:#8EEBEC;
  color: white;
  text-align: center;
}
</style>
<div class="column"> 
  <div class="footer">
    <p style="color: black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa?</p>
  </div> 
</div> 

<!-- Register Modal -->
   
<div class="modal " id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true" style="color: white">&times;</span> </button>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red">Register</h5>
      </div>
      <div class="modal-body add_login_form">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Login Modal-->
<div class="modal " id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true" style="color: white">&times;</span> </button>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red">Login</h5>
      </div>
      <div class="modal-body add_signin_form">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>