<h1 style="font-size: 20px; color:black;">Add Product</h1>

<%= form_for(@product, url: new_product_path , html:{id: 'new_product', :autocomplete => 'off' , method: :post,remote: true}) do |f| %>
  <%= f.hidden_field :user_id,value: current_user.id %>
   <%= render(:partial => 'form',locals: {f: f}) %>
  <p>
    <%= f.submit "submit"%>
  </p>
  <% end %>


