<h1 class="dark " style="font-size: 20px; text-align: center;"> Product  Details</h1>

<% if current_user.present? %> 
    


      <div class="row" style="padding: 40px">
		<div class="col-sm-9 form-group" style="font-size: 30px">
		  <%= @product.name.present? ? @product.name.capitalize : 'N-A' %>
		</div>
         <div class="row " style="margin-left: 20px; float:left ;display:block >
           <div class="column">
            <div class="list-box property-row position-relative">
             <div class="position-relative mb-3 exclusive-img exclusive-small" >
				 <% if @product.images.attached? %>
				 <% @product.images.each do |image|%>
				 <%= image_tag image ,width: "500px" %>
				 <% end %>
				 <% end %>
		    </div>
		   </div>
		  </div>

		</div>
		 <%= @product.description.present? ? @product.description.capitalize : 'N-A' %></br>
		  <%= @product.price.present? ? currency_format(@product.price) : 'N-A' %>
     </div>
	
  
<% end %>